{% extends 'message/base.html' %}

{% block content%}
    <div class="container-fluid px-2 px-md-4">
        
        <div class="card card-body mt-4">
        <div class="row gx-4 mb-2">
        <div class="col-auto">
        <div class="avatar avatar-xl position-relative">
        <img src="../static/assets/img/bruce-mars.jpg" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
        </div>
        </div>
        <div class="col-auto my-auto">
            <div class="h-100">
                {% if user.is_authenticated%}
                <h5 class="mb-1">
               {{user.username}}
            </h5>
            {% endif %}
        <p class="mb-0 font-weight-normal text-sm">
       Online
        </p>
        </div>
        </div>
        
        <div class="row">
        <div class="row mt-4">
        <div class="col-md-5 col-lg-4">
        <div class="card blur shadow-blur max-height-vh-70 overflow-auto overflow-x-hidden mb-5 mb-lg-0">
        <div class="card-header p-3">
        <h6>Friends</h6>
        <div class="input-group input-group-outline">
        <label class="form-label">Search contact</label>
        <input type="text" class="form-control">
        </div>
        </div>
        <div class="card-body p-2">
            {% for conversation in conversations%}
            <a href="{% url 'message:detail' conversation.id %}" class="d-block p-2" data-bs-target="#myModal{{conversation.id}}">
                <div class="d-flex p-2">
                    <img alt="Image" src="../static/assets/img/team-1.jpg" class="avatar shadow">
                    {% for member in conversation.members.all %}
                    {% if member != request.user %}
                <div class="ms-3">
                <div class="justify-content-between align-items-center">
                <h6 class="text-muted text-xs mb-2 mb-0">{{ member.username }}
                <span class="badge badge-success"> {{ conversation.modified_at }}</span>
                </h6>
                </div>
                </div>
                {% endif%}
                {% endfor %}
                </div>
                </a>
                {% endfor %}
        </div>
        </div>
        </div>
        
        </div>
        </div>
        </div>
        </div>
{% endblock %}