{% extends 'message/base.html' %}

{% block content%}
    <div class="container-fluid px-2 px-md-4">
        
        <div class="card card-body mt-4">
        <div class="row gx-4 mb-2">
        <div class="col-auto">
        <div class="avatar avatar-xl position-relative">
        </div>
        </div>
        <div class="col-auto my-auto">
        
        </div>
        
        <div class="row">
        <div class="row mt-4">
       
        <div class="col-md-7 col-lg-8">
        <div class="card blur shadow-blur max-height-vh-70">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
        <div class="bg-gradient-primary shadow-primary border-radius-lg p-3">
        <div class="row">
        <div class="col-md-9 col-lg-10">
        <div class="d-flex align-items-center">
       
        <div class="ms-3">
            {% if user.is_authenticated%}
        <h6 class="mb-0 d-block text-white">{{user.username}}</h6>
        <span class="text-sm text-white opacity-8">{{user.last_login }}</span>
        {% endif %}
        </div>
        </div>
        </div>
        <div class="col-1 my-auto">
        <button class="btn btn-icon-only text-white mb-0 me-3 me-sm-0" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Video call">
        <i class="material-icons">videocam</i>
        </button>
        </div>
        <div class="col-1 my-auto">
        <div class="dropdown">
        <button class="btn btn-icon-only text-white mb-0" type="button" data-bs-toggle="dropdown">
        <i class="material-icons">settings</i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end me-sm-n2 p-2" aria-labelledby="chatmsg">
        <li>
        <a class="dropdown-item border-radius-md" href="javascript:;">
        Profile
        </a>
        </li>
        <li>
        <a class="dropdown-item border-radius-md" href="javascript:;">
        Mute conversation
        </a>
        </li>
        <li>
        <a class="dropdown-item border-radius-md" href="javascript:;">
        Block
        </a>
        </li>
        <li>
         <a class="dropdown-item border-radius-md" href="javascript:;">
        Clear chat
        </a>
        </li>
        <li>
        <hr class="dropdown-divider">
        </li>
        <li>
        <a class="dropdown-item border-radius-md text-danger" href="javascript:;">
        Delete chat
        </a>
        </li>
        </ul>
        </div>
        </div>
        </div>
        </div>
        </div>
       
        <div class="card-footer d-block">
        <form class="align-items-center" action="." method="post">
            {% csrf_token %}
        <div class="input-group input-group-outline d-flex">
        <label class="form-label"></label>
       {{ form.content }}
        <button class="btn bg-gradient-primary mb-0">
         <i class="material-icons">send</i>
        </button>
        </div>
        </form>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
{% endblock %}